html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.l{
    color: rgb(131, 60, 60);
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: -910px;
    margin-top: 170px;
    z-index: 3;
}
.r{
    color: rgb(134, 129, 59);
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 970px;
    margin-top: -570px;
    z-index: 3;
}
.up {
    background-color: rgb( 0, 22, 85);
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -874px;
    margin-top: -350px;
    display: none;
    z-index: 4;
}
.down {
    background-color: rgb( 0, 22, 85);
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -874px;
    margin-top: 310px;
    display: none;
    z-index: 4;
}
.scale {
    background-color: rgb( 0, 22, 85);
    position: absolute;
    width: 70px;
    height: 25px;
    margin-left: 1000px;
    margin-top: 400px;
    display: none;
    z-index: 4;
}
.U {
    background-color: rgb( 0, 22, 85);
    font-size: 50px;
    z-index: 0;
    color: rgb(62, 139, 139);
}
.D {
    background-color: rgb( 0, 22, 85);
    font-size: 50px;
    z-index: 0;
    color: rgb(62, 139, 139);
}
.S {
    background-color: rgb( 0, 22, 85);
    font-size: 40px;
    z-index: 0;
    color: rgb(62, 139, 139);
}
#level {
    font-size: 100px;
}
#record {
    font-size: 50px;
}

canvas{
    width: 1100px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

body {
    background-color: rgb(14, 6, 6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 900px){
    canvas{
        width: 660px;
        height: 330px;
    }
    .l{
        margin-left: -505px;
        margin-top: -300px;
    }
    .r{
        margin-left: 580px;
        margin-top: -300px;
    }
    .up {
        margin-left: -600px;
        margin-top: 0px;
        height: 10px;
        width: 10px;
        display: block;
    }
    .down {
        margin-left: -600px;
        margin-top: 200px;
        width: 10px;
        height: 10px;
        display: block;
    }
    .scale {
        margin-left: 580px;
        margin-top: 215px;
        width: 45px;
        height: 10px;
        display: block;
    }
    .U {
        font-size: 30px;
    }
    .D {
        font-size: 30px;
    }
    .S {
        font-size: 30px;
    }
    #level {
        font-size: 60px;
    }
    #record {
        font-size: 30px;
    }
}